@import url(../variables.css);
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  height: 100vh;
  background: var(--gray-300);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu:target{
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s;
  z-index: 4;
}

.menu__top {
    display: flex;
    padding: 15px 19px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin-bottom: 32px;
    background-color: var(--white);
    z-index: 3;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0;
  }
  .stiky {
    position: sticky;
  }
.menu__nav {
  display: flex;
  flex-direction: column;
  }

  .menu__desctop {
    display: none;
  }

  @media (min-width: 756px) {
    .menu__top {
      display: flex;
      padding: 15px 19px;
      justify-content: space-between;
      align-items: center;}
    .menu__desctop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    }
    .menu__nav {
      flex-direction: row;
      justify-content: space-between;

    }
    .menu__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }

