:root {
    --main-color: #CF3E01;
    --secondary: #212121;
    --gray-800: #414141;
    --gray-700: #6F6F6F;
    --gray-500:#BEBEBE;
    --gray-300: #E8E6DD;
    --gray-background: #FAF9F6;
    --white: #FFFFFF;
    --red: #E94434;
    --green: #34A853;
    --yellow: #E8B500;
    --blue: #2E63CC;
}